/* Custom styling for react-calendar */
.chakra-calendar {
    width: 350px;
    max-width: 100%;
    background: #1a202c;
    border: 1px solid #2d3748;
    border-radius: 0.5rem;
    font-family: inherit;
    line-height: 1.125em;
    padding: 1rem;
  }
  
  .chakra-calendar .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  
  .chakra-calendar .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    color: #cbd5e0;
    font-size: 16px;
    border-radius: 0.375rem;
  }
  
  .chakra-calendar .react-calendar__navigation button:enabled:hover,
  .chakra-calendar .react-calendar__navigation button:enabled:focus {
    background-color: #2d3748;
  }
  
  .chakra-calendar .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    color: #a0aec0;
    margin-bottom: 0.5rem;
  }
  
  .chakra-calendar .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  
  .chakra-calendar .react-calendar__month-view__days__day {
    color: #e2e8f0;
  }
  
  .chakra-calendar .react-calendar__month-view__days__day--weekend {
    color: #fc8181;
  }
  
  .chakra-calendar .react-calendar__month-view__days__day--neighboringMonth {
    color: #718096;
  }
  
  .chakra-calendar .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    border-radius: 0.375rem;
  }
  
  .chakra-calendar .react-calendar__tile:enabled:hover,
  .chakra-calendar .react-calendar__tile:enabled:focus {
    background-color: #2d3748;
  }
  
  .chakra-calendar .react-calendar__tile--now {
    background: #3182ce33;
  }
  
  .chakra-calendar .react-calendar__tile--now:enabled:hover,
  .chakra-calendar .react-calendar__tile--now:enabled:focus {
    background: #3182ce66;
  }
  
  .chakra-calendar .react-calendar__tile--active {
    background: #3182ce;
    color: white;
  }
  
  .chakra-calendar .react-calendar__tile--active:enabled:hover,
  .chakra-calendar .react-calendar__tile--active:enabled:focus {
    background: #2b6cb0;
  }
  