body {
  background: linear-gradient(135deg, #16161E 25%, #1E1E28 75%);
  color: #A0A0A5;
  font-family: 'Roboto', sans-serif;
}

.add-transaction-btn {
  position: absolute;
  top: 100px; /* Adjust this value to move it higher or lower */
  right: 20px; /* Align it horizontally as needed */
  z-index: 10;
}